#home.content.active {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 1rem;
    gap: 3rem;
    width: 90%;
    max-width: 700px;
    margin: 2rem auto;
}

.image-container {
    margin: 0 auto;
    width: clamp(200px, 60vw, 270px);
    height: clamp(200px, 60vw, 270px);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container::before,
.image-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: conic-gradient(transparent,
            transparent,
            transparent,
            transparent,
            var(--green));
    animation: revolve 4s linear infinite;
}

.image-container::after {
    animation-delay: 2s;
}

@keyframes revolve {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.image-container img {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.details h2 {
    font-size: clamp(1.8rem, 5vw, 3rem);
}

.details h2 span {
    background: linear-gradient(to right, var(--green), var(--white));
    padding-bottom: 2px;
    border-bottom: 5px solid var(--green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.details h3 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: normal;
    flex-wrap: wrap;
    overflow: hidden;
}

.details h3 span {
    color: var(--green);
    display: inline-block;
    min-width: 130px;
    overflow: hidden;
    white-space: nowrap;
}

.details h3 span::after {
    content: "";
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.details p {
    font-size: clamp(0.9rem, 2.5vw, 1.3rem);
    text-align: justify;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn {
    width: 100%;
    max-width: 200px;
    padding: 0.8rem 0;
    font-weight: 600px;
    background: var(--green);
    border-radius: 1px 30px 15px 30px;
    border:3px solid rgb(193, 18, 18);
    cursor: pointer;
    font-size: 1.3rem;
    /* border: none; */
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
     box-shadow: 0 0 5px #03e9f4,
              0 0 5px #03e9f4,
              0 0 5px #03e9f4,
              0 0 10px #03e9f4;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social-icons a img {

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 41% 4% 41% 4%;
    background-color: rgb(131, 15, 15);
    border: 5px solid red;

}

.social-icons a:hover {
    border-radius: 41% 4% 41% 4%;
    transform: scale(1.2);
     box-shadow: 0 0 15px #03e9f4,
              0 0 10px #03e9f4,
              0 0 10px #03e9f4,
              0 0 10px #03e9f4;
}

@media screen and (min-width:768px) {
    #home.content.active {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
    }

    .details h2 {
        font-size: 3rem;
    }

    .details h3 {
        font-size: 2.5rem;
    }

    .social-icons {
        font-size: 3rem;
    }

    .bottom {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .btn {
        font-weight: 600;
        border-radius: 1px 30px 15px 30px;
    }
}

@media screen and (min-width:1024px) {
    #home.content.active {
        margin: 3rem auto;
    }

    .image-container {
        width: 400px;
        height: 400px;
    }

    .details {
        gap: 30px;
    }

    .details h2 {
        font-size: 5rem;
    }

    .details h3 {
        font-size: 2.8rem;
    }

    .details p {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px){

    #home.content.active{
        gap: 2rem;
    }

    .details{
        text-align: center;
        align-items: center;
    }

}